---
import Layout from "../layouts/Layout.astro";
import { Hero } from "../components/Hero.jsx";
import { Features } from "../components/Features.jsx";
import { Testimonials } from "../components/Testimonials.jsx";
import { Pricing } from "../components/Pricing.jsx";
import { FAQ } from "../components/FAQ.jsx";
import { Brands } from "../components/Brands.jsx";
import { Divider } from "../components/Divider";
import testimonials from "../data/testimonials";
import { featuresData, featuresData2 } from "../data/features";
import "style:global.scss";
import "styles:Diagonals.css";

import Button from "@/components/Button.astro";
import Features1Art from "@/components/features1Art.astro";
import Features2Art from "@/components/features2Art.astro";
---

<Layout title="Tailcast">
  <Hero client:load>
    <Button>get Started</Button>
    <Button variant="secondary">Learn More</Button>
  </Hero>
  <Features
    {...featuresData}
    client:load
    left
  >
    <Features1Art />
  </Features>
  <Divider />
  <Features
    {...featuresData2}
    client:load
  >
    <Features2Art />
  </Features>
  <Testimonials
    {...testimonials}
    client:load
  />
  <Features
    variant="diagonal"
    {...featuresData3}
    client:load
  />
  <Pricing
    client:load
  />
  <Brands
    client:load
  />
  <FAQ
    client:load
  />
</Layout>
